@page
@using Microsoft.Extensions.Localization
@using Olympic.Trader.Store.Localization
@using Olympic.Trader.Store.Web.Pages.Store
@model Olympic.Trader.Store.Web.Pages.Store.IndexModel
@inject IStringLocalizer<StoreResource> L

@{
}
<h1>Store</h1>
<p>@L["SamplePageMessage"]</p>
